<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ultra"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title>Inventario</ion-title>
  <ion-list>
    <ion-item-sliding *ngFor="let product of products">
      <ion-item lines="inset" button [routerLink]="['/product-management', product.id]">
        <ion-label>
          <h1>Producto: {{product.nameProd}}</h1>
          <h2>Precio: {{product.price}}</h2>
          <p>ciudad: {{product.city}}</p>
          <p>Existencias: {{product.stocks}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create-product" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>