ion-content {
  top: 20px;
  text-align: center;
}

p {
  color: darkgreen;
}

ion-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  color: darkgreen;
}

ion-label {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}