<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ultra"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item button>
          <ion-label>
            Proceso 1
          </ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item button>
          <ion-label>Proceso 2</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item button>
          <ion-label>Proceso 3</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item button>
          <ion-label>Proceso 4</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>